In [3]:
import ibm_db
import ibm_boto3
from botocore.client import Config
import pandas as pd

In [26]:
# The code was removed by Watson Studio for sharing.

,custermor_number,gender,cust_gov_fund_ind,title,occupation,education_code,marital,credit_12month_consume,risk_grade,disch_loan_amount,...,mon24_count,house_loan_trml,house_loan_life_trml,house_app_amt1,house_payment_amt1,house_prepay_amt1,house_loan_amt1,house_loan_behavior_grade,house_overdue_count,label
0,100001,0.4,0.389,0.50,0.6,0.4,0.333,0.0,0.000,0.323,...,0.0,0.746,0.373,0.000,0.0,0.0,0.000,0.762,0.000,0
1,100002,0.3,0.389,0.25,0.2,0.2,0.333,0.0,0.287,0.323,...,0.0,1.000,1.000,0.000,0.0,1.0,0.000,1.000,0.000,1
2,100003,0.4,0.227,0.25,0.2,0.4,0.333,0.0,0.574,0.000,...,0.0,0.220,0.194,0.225,0.0,0.0,0.225,0.762,0.332,1
3,100004,0.3,0.476,0.50,0.6,0.4,0.333,0.0,1.000,0.652,...,0.0,0.000,0.000,0.225,0.0,0.0,0.225,1.000,0.000,0
4,100005,0.4,0.286,0.25,0.2,0.2,0.500,0.0,1.000,0.323,...,0.0,0.746,0.637,0.225,0.0,0.0,0.225,1.000,0.000,1

In [ ]:
#转换预测数据
import numpy as np
del userdataDF["label"]

In [37]:
predictDataList = np.array(userdataDF).tolist()

In [40]:
import requests

In [43]:
# Paste your Watson Machine Learning service apikey here
# Use the rest of the code sample as written
apikey = "5dImTj6rX5qDBUCXYoSKFu8FxI4ASGh_6ZpV7ER7WUBe"

# Get an IAM token from IBM Cloud
#需要翻墙，否则url请求不到
url     = "https://us-south.ml.cloud.ibm.com"
headers = { "Content-Type" : "application/x-www-form-urlencoded" }
data    = "apikey=" + apikey + "&grant_type=urn:ibm:params:oauth:grant-type:apikey"
#IBM_cloud_IAM_uid = "2206933d-fea8-44fb-8957-a56ad5f0595a"
#IBM_cloud_IAM_pwd = "ac1a3950-f51b-4bfb-b573-8ceed31338f9"
response  = requests.post( url, headers=headers, data=data )
print(response)
#iam_token = response.json()["access_token"]

<Response [404]>

In [106]:
#调用模型预测
import urllib3, requests, json
# NOTE: generate iam_token and retrieve ml_instance_id based on provided documentation	

ml_instance_id="61d5345d-ecc4-45aa-b03e-910e783b3127"
#找翻墙的请求的token，token有时效性，过期需重新请求
#iam_token="eyJraWQiOiIyMDE5MDIwNCIsImFsZyI6IlJTMjU2In0.eyJpYW1faWQiOiJpYW0tU2VydmljZUlkLWViYjBhYWNlLTAxMmItNDRmYy04ODIwLWMyYmVhODI5ZTJiYiIsImlkIjoiaWFtLVNlcnZpY2VJZC1lYmIwYWFjZS0wMTJiLTQ0ZmMtODgyMC1jMmJlYTgyOWUyYmIiLCJyZWFsbWlkIjoiaWFtIiwiaWRlbnRpZmllciI6IlNlcnZpY2VJZC1lYmIwYWFjZS0wMTJiLTQ0ZmMtODgyMC1jMmJlYTgyOWUyYmIiLCJzdWIiOiJTZXJ2aWNlSWQtZWJiMGFhY2UtMDEyYi00NGZjLTg4MjAtYzJiZWE4MjllMmJiIiwic3ViX3R5cGUiOiJTZXJ2aWNlSWQiLCJhY2NvdW50Ijp7InZhbGlkIjp0cnVlLCJic3MiOiJiYjc1NDFjNWY2NDQ0Y2EyYmJmMDdhODBiZTczZDU0ZiJ9LCJpYXQiOjE1NjE3MDY2OTMsImV4cCI6MTU2MTcxMDI5MywiaXNzIjoiaHR0cHM6Ly9pYW0ubmcuYmx1ZW1peC5uZXQvb2lkYy90b2tlbiIsImdyYW50X3R5cGUiOiJ1cm46aWJtOnBhcmFtczpvYXV0aDpncmFudC10eXBlOmFwaWtleSIsInNjb3BlIjoiaWJtIG9wZW5pZCIsImNsaWVudF9pZCI6ImRlZmF1bHQiLCJhY3IiOjEsImFtciI6WyJwd2QiXX0.DprQLohAPkG3hmtxA1-7dJqHVu1-fUgjiZMOzyah36mgzyKLy-ixRECOGQdb8Q4YXmreGCA9IUlmdoi5i8cjHeGAE4LTJCC8BF3LQdBlxfiqCMUyvrY7zL8pp_H45D79VIMD95hRBmmwZEU4CQtB_YUGNdO5plEQcONtN78uZPLgfkKgNccnUkfSZf6ihj2aCMTBseFSKyPxW8rJku7lekF8Si5bFAmx7DTJldg_h-ScpndHXt6YLzjWHKCHbsNRNVU5tU_e6GIlTrMIcIPbqbCmybI82JQy8YFvPCFhEPWmGZsRO1Q-vFIYcUdcJ9EqDtDUx6LTP6DhNzhEQ3EjCA"
iam_token="p-43fdcc040863eb82271e4a5a796733893793017b"
# NOTE: generate iam_token and retrieve ml_instance_id based on provided documentation	
header = {'Content-Type': 'application/json', 'Authorization': 'Bearer ' + iam_token, 'ML-Instance-ID': ml_instance_id}

# NOTE: manually define and pass the array(s) of values to be scored in the next line
payload_scoring = {"fields": ["custermor_number", "gender", "cust_gov_fund_ind", "title", "occupation", "education_code", 
                              "marital", "credit_12month_consume", "risk_grade", "disch_loan_amount", "ch_loan_count", 
                              "current_loan_amt", "overdue_count", "overdue_amt", "overdue_trm_count", "payment_6_amt",
                              "payment_6_count", "mon24_max_count", "mon24_max_amt", "mon24_count", "house_loan_trml", 
                              "house_loan_life_trml", "house_app_amt1", "house_payment_amt1", "house_prepay_amt1", "house_loan_amt1",
                              "house_loan_behavior_grade", "house_overdue_count"], 
                   "values": predictDataList}

response_scoring = requests.post('https://us-south.ml.cloud.ibm.com/v3/wml_instances/61d5345d-ecc4-45aa-b03e-910e783b3127/deployments/0cc1eedf-f5eb-4394-a5c2-774cc07f3e4c/online', json=payload_scoring, headers=header)
print(json.loads(response_scoring.text))

{'errors': [{'message': 'Invalid authorization token.', 'code': 'invalid_authorization_token', 'target': {'name': 'Authorization', 'type': 'header'}}], 'trace': '-1j6u845cbflqk'}

In [48]:
#将预测结果转为dataframe
import pandas as pd
#type(json.loads(response_scoring.text))
dataDict = json.loads(response_scoring.text)
combos = pd.DataFrame(dataDict['values'],columns=dataDict['fields'])

,custermor_number,gender,cust_gov_fund_ind,title,occupation,education_code,marital,credit_12month_consume,risk_grade,disch_loan_amount,...,house_prepay_amt1,house_loan_amt1,house_loan_behavior_grade,house_overdue_count,features,rawPrediction,probability,prediction,nodeADP_class,nodeADP_classes
0,100001,0.4,0.389,0.50,0.6,0.4,0.333,0.0,0.000,0.323,...,0.0,0.000,0.762,0.000,"[27, [0, 1, 2, 3, 4, 5, 8, 11, 12, 13, 16, 17,...","[2677.5077084057757, -2677.5077084057757]","[1.0, 0.0]",0.0,0.0,"[0.0, 1.0]"
1,100002,0.3,0.389,0.25,0.2,0.2,0.333,0.0,0.287,0.323,...,1.0,0.000,1.000,0.000,"[27, [0, 1, 2, 3, 4, 5, 7, 8, 11, 13, 16, 19, ...","[-1078.3382778781724, 1078.3382778781724]","[0.0, 1.0]",1.0,1.0,"[0.0, 1.0]"
2,100003,0.4,0.227,0.25,0.2,0.4,0.333,0.0,0.574,0.000,...,0.0,0.225,0.762,0.332,"[27, [0, 1, 2, 3, 4, 5, 7, 10, 12, 17, 19, 20,...","[-27.276344237664944, 27.276344237664944]","[1.425719898754094e-12, 0.9999999999985743]",1.0,1.0,"[0.0, 1.0]"
3,100004,0.3,0.476,0.50,0.6,0.4,0.333,0.0,1.000,0.652,...,0.0,0.225,1.000,0.000,"[5.968668193156659, 5.23757432908855, 4.068381...","[2843.4323926357474, -2843.4323926357474]","[1.0, 0.0]",0.0,0.0,"[0.0, 1.0]"
4,100005,0.4,0.286,0.25,0.2,0.2,0.500,0.0,1.000,0.323,...,0.0,0.225,1.000,0.000,"[7.958224257542212, 3.14694592041875, 2.034190...","[-163.45372831690815, 163.45372831690815]","[1.0302621512855348e-71, 1.0]",1.0,1.0,"[0.0, 1.0]"

In [93]:
amount = []
prob=combos["probability"].tolist()
for elem in prob:
    if isinstance(elem,list):
        amount.append(round(elem[0]*5000,3))
    elif isinstance(elem,float):
        amount.append(round(elem*5000,3))
combos['credit_amount']=amount
user_credit_amount=combos[['custermor_number','credit_amount']]
user_credit_amount

    custermor_number  credit_amount
0             100001       5000.000
1             100002          0.000
2             100003          0.000
3             100004       5000.000
4             100005          0.000
5             100006          0.000
6             100007       5000.000
7             100008          0.002
8             100009          0.000
9             100010       5000.000
10            100011          0.000
11            100012          0.000
12            100013       5000.000
13            100014          0.000
14            100015          0.000
15            100016       5000.000
16            100017          0.000
17            100018          0.000
18            100019       5000.000
19            100020          0.000
20            100021       5000.000
21            100022          0.000
22            100023          0.000
23            100024       5000.000
24            100025          0.000
25            100026          0.000
26            100027       5000.000
27            100028          0.000
28            100029          0.000
29            100030       5000.000
..               ...            ...
70            100071          0.000
71            100072          0.000
72            100073       4999.999
73            100074          0.000
74            100075          0.001
75            100076       5000.000
76            100077          0.000
77            100078          0.000
78            100079       5000.000
79            100080          0.000
80            100081       5000.000
81            100082          0.000
82            100083          0.000
83            100084       5000.000
84            100085          0.000
85            100086          0.000
86            100087       5000.000
87            100088          0.000
88            100089          0.000
89            100090       5000.000
90            100091          0.000
91            100092          0.000
92            100093       5000.000
93            100094          0.000
94            100095          0.000
95            100096       5000.000
96            100097          0.000
97            100098          0.000
98            100099       5000.000
99            100100          0.000

[100 rows x 2 columns]

In [94]:
# The code was removed by Watson Studio for sharing.

In [96]:
dsn_driver = "IBM DB2 ODBC DRIVER"
dsn_database = credentials_1['database'] 
dsn_hostname = credentials_1['host']
dsn_port = "50000"                
dsn_uid = credentials_1['username']      
dsn_pwd = credentials_1['password']

dsn = (
    "DRIVER={{IBM DB2 ODBC DRIVER}};"
    "DATABASE={0};"
    "HOSTNAME={1};"
    "PORT={2};"
    "PROTOCOL=TCPIP;"
    "UID={3};"
    "PWD={4};").format(dsn_database, dsn_hostname, dsn_port, dsn_uid, dsn_pwd)
print(dsn)

conn = ibm_db.connect(dsn, "", "")

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=lwk40497;PWD=w2hb^26z7lvmtz6j;

In [104]:
create_statement= 'CREATE TABLE "USER_CREDIT_AMOUNT" (\n"custermor_number" VARCHAR,\n "credit_amount" VARCHAR)'
create_statement=create_statement.replace('VARCHAR', 'VARCHAR(256)')
ibm_db.exec_immediate(conn, create_statement)

In [105]:
for index, row in user_credit_amount.iterrows():
    #print (row['YEAR'], row['TYPES OF WATCHES'], row['ORDER METHOD'], row['STORE LOCATION'], row['REVENUE GENERATED ($ USD)'], row['MANUFACTURING COST ($ USD)'], row['UNITS SOLD'], row['MANUFACTURING COST PER UNIT ($ USD)'], row['GROSS PROFIT ($ USD)'], row['UNIT SALE PRICE ($ USD)'])
    print("-----------------------------------")
    #a="\'"
    #w = a+row['custermor_number']+a
    #o = a+row['credit_amount']
    #s = a+row['STORE LOCATION']+a
    insert = 'INSERT INTO lwk40497.USER_CREDIT_AMOUNT VALUES(%s, %s)' %(row['custermor_number'], row['credit_amount'])
    ibm_db.exec_immediate(conn, insert)

-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------
-----------------------------------